---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main class="p-8 max-w-[500px] mx-auto">
    <section class="">
      <h1 class="font-bold text-2xl">Moeki Kawakami</h1>
    </section>
    <section class="py-4">
      <img src="/icon.JPG" class="shadow-xl w-20 h-20 rounded-full" />
    </section>
    <section class="py-2">
      <h2 class="mb-2 text-xl font-bold">Philosophy</h2>
      <ol class="list-decimal list-inside">
        <li>Contributing to Family's Happiness</li>
        <li>Contributing to People's Creativity</li>
        <li>Contributing to World Peace</li>
      </ol>
    </section>
    <section class="py-2">
      <h2 class="mb-2 text-xl font-bold">Status</h2>
      <ul class="list-disc list-inside">
        <li>Hacker</li>
        <li>Servant of 4 cats</li>
        <li>Caffeine lover</li>
        <li>Believer in science</li>
      </ul>
    </section>
    <section class="py-2 [&_a]:underline [&_a]:text-blue-600 [&_p]:pb-2">
      <h2 class="text-xl mb-2 font-bold">私について</h2>
      <p>これは私に関する文章です。私は物書きではなくほとんど文章を書かないので、これが私が書くもっとも価値のある文章になると思います。</p>
      <p>私を構成する基本的な考え方は、人間が誕生して以来、テクノロジーは人間を再定義し続けてきたというものです。ここでいうテクノロジーとはコンピュータや自動車といった現代の発明だけを差しているのではありません。<a href="https://amturing.acm.org/award_winners/kay_3972189.cfm">Alan Kay</a> は1980年代後半の香港での記者会見にて、"Technology is anything that was invented after you were born, everything else is just stuff." (テクノロジーとは、あなたが生まれた後に発明されたすべてのものであり、それ以外のものはただの「モノ」だ。) と述べています。これを言い換えると、すべての人類にとってのテクノロジーを合わせると人間が発明したすべてのものはテクノロジーになるということになります。</p>
      <p>そして、それらのさまざまな時代の人々はそれぞれが、印刷によってものごとを記憶する必要性を改めたり、遺伝子組み換え技術によって生命の自然さに対する価値観を見つめ直したり、生成AIによって自分の知性や創造性の価値について再考したりするのです。<a href="https://www.msz.co.jp/book/author/ma/13941/">Herbert Marshall McLuhan</a> は "The Medium is the Message" (メディアはメッセージである) と述べていますが、これはテクノロジーが我々に対して影響力を持っているという主張を示唆しています。</p>
      <p>私はある時このメディアが人類を再定義し続けているという <a href="https://kk.org/thetechnium/">Kevin Kelly のテクニウム</a>的な法則は、テクノロジー全体が持つ大きな視点でのアフォーダンスなのではないか、ということに思い至りました。アフォーダンスとは <a href="https://www.britannica.com/biography/James-J-Gibson">James J. Gibson</a> が提唱した、環境が生物に対して与える「行為の可能性」のことを差します。例えば椅子として作ってはいないものでも上面が平らで腰くらいの高さであれば人は座りたくなる、というようなことを説明した概念です。このアフォーダンスと、テクノロジー全体が新しい行為の可能性を提示するということは、フラクタルな構造になっているのです。</p>
      <p>私の仕事は、ソフトウェアのアフォーダンスを設計することでユーザーの生活や思考の"よい"状態を実現すること、と言えます。そしてその仕事の原動力として、テクノロジーの発明者として人類に影響を与えたい、という願望が根底にあります。</p>
    </section>
    <section class="py-2">
      <h2 class="font-bold text-xl mb-2">Links</h2>
      <ul>
        <li>
          <a
            class="underline hover:text-gray-600"
            href="https://github.com/moeki0"
          >
            github.com/moeki0
          </a>
        </li>
        <li>
          <a
            class="underline hover:text-gray-600"
            href="https://x.com/moeki___"
          >
            x.com/moeki___
          </a>
        </li>
        <li>
          <a
            class="underline hover:text-gray-600"
            href="https://cosen.se/moeki"
          >
            cosen.se/moeki
          </a>
        </li>
        <li>
          <a
            class="underline hover:text-gray-600"
            href="mailto:hi@moeki.org"
          >
            hi@moeki.org
          </a>
        </li>
        <li>
          <a
            class="underline hover:text-gray-600"
            href="/resume"
          >
            /resume
          </a>
        </li>
      </ul>
    </section>
    
    <footer class="py-4">
      <p class="text-xs">
        &copy; {new Date().getFullYear()} Moeki Kawakami. All rights reserved.
      </p>
    </footer>
  </main>
</BaseLayout>
