---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main class="p-8 max-w-[500px] mx-auto">
    <section class="">
      <h1 class="font-bold text-2xl">Moeki Kawakami</h1>
    </section>
    <section class="py-4">
      <img src="/icon.JPG" class="shadow-xl w-20 h-20 rounded-full" />
    </section>
    <section class="py-2">
      <h2 class="mb-2 text-xl font-bold">Philosophy</h2>
      <ol class="list-decimal list-inside">
        <li>Contributing to Family's Happiness</li>
        <li>Contributing to People's Creativity</li>
        <li>Contributing to World Peace</li>
      </ol>
    </section>
    <section class="py-2">
      <h2 class="mb-2 text-xl font-bold">Status</h2>
      <ul class="list-disc list-inside">
        <li>Hacker</li>
        <li>Servant of 4 cats</li>
        <li>Caffeine lover</li>
        <li>Believer in science</li>
      </ul>
    </section>
    <section class="py-2">
      <h2 class="font-bold text-xl mb-2">Links</h2>
      <ul>
        <li>
          <a
            class="underline hover:text-gray-600"
            href="https://github.com/moeki0"
          >
            github.com/moeki0
          </a>
        </li>
        <li>
          <a
            class="underline hover:text-gray-600"
            href="https://x.com/moeki___"
          >
            x.com/moeki___
          </a>
        </li>
        <li>
          <a
            class="underline hover:text-gray-600"
            href="mailto:hi@moeki.org"
          >
            hi@moeki.org
          </a>
        </li>
        <li>
          <a
            class="underline hover:text-gray-600"
            href="/resume"
          >
            /resume
          </a>
        </li>
      </ul>
    </section>
    
    <footer class="py-4">
      <p class="text-xs">
        &copy; {new Date().getFullYear()} Moeki Kawakami. All rights reserved.
      </p>
    </footer>
  </main>
</BaseLayout>
